$primary-color: #9fb6c3;
$primary-color-rgb: 159, 182, 195;
$dark-shade: #2b2346;
$dark-shade-rgb: 43, 35, 70;
$dark-accent: #c63f6f;
$dark-accent-rgb: 198, 63, 111;
$light-accent: #dcb484;
$light-accent-rgb: 220, 180, 132;
$light-shade: #edf4e6;
$light-shade-rgb: 237, 244, 230;
