// Variable imports
@import "variables";

// Font imports
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  background-color: $dark-shade;
}

body {
  margin: 0px;
}

p,
a,
li,
ul,
ol,
div {
  color: white;
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "Comfortaa", cursive;
}
